<% include partials/header %>
    <form method="post" action="/users/update">
      <label>Firstname</label><br>
      <input type="text" name="name">
      <br/>

      <label>Email</label><br>
      <input type="text" name="email">
      <br/>
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
<% include partials/footer %>
